<% @posts.each do |post| %>
<div class="article section" style="margin-left:10px">
  <div class="header" style="margin-bottom:10px;">
    <%= post.created_at.strftime("%Y-%m-%d") %>
    <a href="<%= url(post.link) %>"><%= post.title %></a>
    <span style="color:gray"></span>
<% if logged_in? %>
    <span><a href="<%= url(post.edit_link) %>"><%= t('edit') %></a></span>
<% end %>
  </div>
</div>
<% end %>
<div class="pager">
  <%= @posts.pager.to_html(request.url) %>
</div>
